{
  "root": true,
  "env": {
    "react-native/react-native": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier", "react", "react-native", "react-hooks", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-console": 0,
    "no-useless-escape": 0,
    "prettier/prettier": "warn",
    "react/display-name": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "import/no-default-export": "warn",
    "import/named": 0,
    "react-native/sort-styles": 0,
    "react-native/no-unused-styles": 0,
    "react-native/no-color-literals": 0,
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
