{
  "root": false,
  "extends": "../../.eslintrc",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "require": false,
    "module": false,
    "Promise": false,
    "device": false,
    "element": false,
    "jasmine": false,
    "by": false,
    "Set": false
  }
}