.hero__header {
  position: relative;
  height: 150px;
  background: linear-gradient(120.83deg, #C670D0 -22.04%, #881AE8 100%), #EEEEEE;
  box-shadow: 0 1px 15px rgba(136, 26, 232, .4);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
  padding-bottom: 32px;
}

.hero__header::after {
  content: none;
}

@keyframes height {
  99% {
    height: 700px;
  }

  100% {
    height: 100vh;
  }
}

@keyframes reverseHeight {
  0% {
    height: 100vh;
  }

  1% {
    height: 700px;
  }

  100% {
    height: 150px;
  }
}

.hero__header--collapsed {
  animation-name: reverseHeight;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.hero__header--expanded {
  animation-name: height;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.hero__toolbar {
  --background: transparent;
  --color: rgba(255, 255, 255, 0.9);
  --border-width: 0 !important;

  margin: 0;
}

.hero__toolbar .button {
  color: var(--icon-color-contrast);
  margin-left: 10px;
}

.home__heading {
  font-size: 14px;
  margin: 9px 0 2px;
  color: #979797;
  font-weight: 600;
  text-transform: uppercase;
}

.hero__icon {
  margin-right: 10px;
  color: var(--ion-color-secondary)
}

.hero__expander {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 6px;
  width: 30px;
  height: 2px;
  background: var(--ion-color-light)
}

.home-flex {
  display: flex;
}

.hero-card__content {
  display: flex;
  padding: 30px 25%;
  justify-content: space-between;
}

.home-card {
  --background: #F8F8F8;
  --color: var(--ion-color-primary);

  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 4px;
}

.home-card p {
  margin: 0;
}

.home-card ion-card-header {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.home-card ion-card-content {
  padding-top: 0;
}

.home-card__bottom {
  display: flex;
  justify-content: space-between;
}

.home-card__paragraph {
  font-weight: 600;
  color: var(--ion-color-medium);
}

.home-margin {
  margin: 0 20px;
}

.home-full-col {
  width: 100% !important;
  text-align: center;
}

.home-link {
  color: rgba(136, 26, 232, 0.5);
  text-decoration: none;
  font-size: 14px;
}

.hero__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--ion-color-secondary);
  margin: 0;
}

.hero__paragraph {
  font-size: 14px;
  margin: 0;
}

.home-card__title {
  --color: var(--ion-color-primary);
  font-weight: 600;
}

.home-card__date {
  position: absolute;
  top: 12px;
  right: 0;
  padding: 2px 8px;
  color: #fff;
  background: var(--ion-color-secondary);
}

.schedule-list {
  display: flex;
  margin: 9px 0 0;
  padding: 0 20px 15px;
  overflow-x: scroll;
}

.schedule-card {
  margin-right: 4px;
  list-style-type: none;
  min-width: 135px;
  background: var(--ion-color-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
  border-radius: 10px;
  overflow: hidden;
}

.schedule-card__header {
  background: var(--ion-color-primary);
  color: var(--ion-color-secondary);
  padding: 5px 0;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.schedule-card__content {
  padding: 6px 16px;
  font-size: 14px;
}

.schedule-card__game {
  width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  color: var(--ion-color-primary);
  margin: 0;
}

.schedule-card__runner {
  color: #979797;
  margin: 0;
}