.schedule-list {
  display: flex;
  margin: 9px 0 0;
  padding: 0 20px 15px;
  overflow-x: scroll;
}

.schedule-card {
  margin-right: 4px;
  list-style-type: none;
  min-width: 135px;
  background: var(--ion-color-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
  border-radius: 10px;
  overflow: hidden;
}

.schedule-card__header {
  background: var(--ion-color-primary);
  color: var(--ion-color-secondary);
  padding: 5px 0;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.schedule-card__content {
  padding: 6px 16px;
  font-size: 14px;
}

.schedule-card__game {
  width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  color: var(--ion-color-primary);
  margin: 0;
}

.schedule-card__runner {
  color: #979797;
  margin: 0;
}
